@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    text-align: center;
    max-width: 360px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    display: block;
    margin: 0 auto 16px;
    width: calc(100% - 64px);
    height: auto;
}

.title {
    color: #ec1775;
    margin-bottom: 8px;
    font-size: 28px;
    text-transform: uppercase;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 14px;
}

.subtitle b {
    font-weight: bold;
}

.description {
    color: #1e6f86;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 18px;
}

.buttons-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    min-height: 132px;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-img {
    cursor: pointer;
    margin: 0 24px;
    width: 88px;
    height: 88px;
}

.separator-vertical {
    width: 1px;
    background-color: gray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.small-description {
    color: #1e6f86;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}

.upgrade-info {
    color: #ec1775;
    display: block;
    margin-top: 24px;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

.separator-horizontal {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-bottom: 20px;
}

.custom-button {
    background-color: #ec1775;
    color: white;
    border: none;
    padding: 8px;
    width: calc(100% - 32px);
    max-width: 360px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Media query for landscape mode */
@media (orientation: landscape) {
    .icon,
    .small-description,
    .upgrade-info,
    .separator-horizontal {
        display: none;
    }

    .button-img {
        width: 64px;
        height: 64px;
        margin: 0 16px;
    }

    .title {
        margin-top: 0px;
        margin-bottom: 4px;
    }

    .subtitle {
        margin-bottom: 12px;
    }

    .description {
        margin-bottom: 16px;
    }

    .buttons-container {
        margin-bottom: 16px;
        min-height: auto;
    }

    .custom-button {
        margin-bottom: 22px;
    }
}
